.center {
  justify-content: center;
  align-items: center;
}

.alignCenter {
  align-items: center;
}

.justifyCenter {
  justify-content: center;
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100%;
}

.debug {
  border: 1px solid red;
}
